{% extends '_layout/_base.twig' %}

{% block main %}

{% set pageQuoteBlock = entry.pageQuoteBlock %}
<main>
  <blockquote> "{{ entry.pageQuoteBlock }}"</blockquote>

      <div id="home-tekst" class="page-tekst">
        <h3>{{ entry.title }}</h3>

           {% set query = entry.newLinkToVideo
           .id('')
           .all() %}

           {% set blocks = entry.newLinkToVideo.all() %}

           {{ dump(blocks) }}
           {% if blocks|length > 0 %}

           {% for block in blocks %}

            <ol class="list-tooltips">
            <li data-template="1" id="tooltip"><div onclick="openNav(), disableScroll()"></div><a>{{ block.text }}</a></li>
            </ol>

        </div>


 <!-- video -->
   <div id="myNav" class="overlay">
    <div onclick="closeNav(), enableScroll()" class="overlay-content">
      <div class="video-wrapper">
        <iframe width="1280" height="720px" allow="autoplay" src="{{ block.video }}"></iframe>
      </div>
    </div>

<div class="tippy-content" style="display: none;">
    <div style="display: none;">
      <div id="loop.length">
        <h4>{{ block.text }}</h4>
        <a>{{ block.tooltipText }}</a>
        <a a onclick=" openNav(), disableScroll()">watch video</a>
      </div>
    </div>
</div>

{% endfor %}
{% endif %}

   
</main>
{% endblock %}