{% extends '_layout/_base.twig' %}

{% block main %}

<main>
      <img class="background-image" src="/assets/img/Background.svg" alt="abstracte achtergrond afbeelding"/>
      <div class="full-screen">
          <h1> {{ entry.pageTitle }} </h1>
            <h2> {{ entry.subtitle }} </h2>

          <div class="button-img-box">     
              <div class="button-box">
              {% set blocks = entry.buttonHome.all() %}
                {% if blocks is not empty %}
                  {% for block in blocks %}
                    <a onclick="openNav(this), disableScroll()" data-target="videoHome-{{ loop.index }}"
                    {{ block.colorButton == 'blue' ? 'class="blue button"': 'class="button"'}}>{{ block.textButton }}</a>
                  {% endfor %}
                {% endif %}
              </div>
              
              <figure class="home-image">
                  <img src="/assets/img/AynRand.png" alt="Picture of Ayn Rand">
              </figure>
            </div>

            {% if entry.pageQuoteBlock is not empty %}
              <blockquote class="quote-menu">“{{ entry.pageQuoteBlock }}”</blockquote>
            {% endif %}
            
            <figure class="scroll">
              <a href="#home-tekst"><img src="/assets/img/arrow_down.svg" alt="Scroll arrow down"></a>
            </figure>
        </div>

              <div id="home-tekst" class="page-tekst">
               {% set blocks = entry.bodyText.all() %}
                  {% for block in blocks %}
                    {% if block.type == "textTop" %}
                      <p>{{ block.textAbove|markdown }}</p>
                    {% endif %}
                  {% endfor %}
              </div>

              <div class="figure-box">
                <div class="figure-box-start">
                  {% set blocks = entry.image.all() %}
                    {% if blocks is not empty %}
                      {% for block in blocks %}
                        {% if block.type == "imagesStart"%}
                          <figure>
                            <a href="{{ block.linkTo }}">
                              {% if block.image is not empty %}
                              <img src="{{ block.image.one.getUrl }}" alt="" width="350" height="350">
                              {% endif %}
                                <figcaption class="overlay-model">{{ block.titleImg }} <br> {{ block.subtitle }}
                                </figcaption>
                            </a>
                          </figure>
                        {% endif %}
                      {% endfor %}
                </div>

                      <div class="figure-box-end">
                        {% for block in blocks %}
                          {% if block.type == "imagesEnd" %}
                            <figure>
                              <a href="{{ block.linkTo }}">
                                <img src="{{ block.image.one.getUrl }}" alt="" width="350" height="350">
                                  <figcaption class="overlay-model">{{ block.titleImg }} <br> {{ block.subtitle }}
                                  </figcaption>
                              </a>
                            </figure>
                          {% endif %}
                        {% endfor %}
                    {% endif %}
                      </div>
              </div>

              <div class="page-tekst">
                {% set blocks = entry.bodyText.all() %}
                  {% for block in blocks %}
                    {% if block.type == "textDown" %}
                      <p>{{ block.textBelow|markdown }}</p>
                    {% endif %}
                  {% endfor %}
              </div>
             
    </main>

     <!-- Link to video -->

      {% set blocks = entry.buttonHome.all() %}
        {% if blocks is not empty %}
          {% for block in blocks %}
            <div id="videoHome-{{ loop.index }}" class="overlay">
              <div onclick="closeNav(this), enableScroll()" class="overlay-content">
                <div class="video-wrapper">
                  <iframe width="1280" height="720px" allow="autoplay" src="{{ block.buttonLink }}"></iframe>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}

    {% endblock %}