{% extends '_layout/_base.twig' %}

{% block main %}

<main>
      
      <img class="background-image" src="assets/Images/Background.svg"/>
      <div class="full-screen">
          <h1> {{ entry.pageTitle }} </h1>
            <h2> {{ entry.subtitle }} </h2>

          <div class="button-img-box">     
              <div class="button-box">
                <a onclick="openNav(), disableScroll()" class="button">Who is Ayn Rand</a>
                <a onclick="openNav(), disableScroll()" class="button blue">Who is Jan de Laat</a>
                <a onclick="openNav(), disableScroll()" class="button">Set up of this website</a>
              </div>
              <figure class="home-image">
                  <img src="/assets/img/AynRand.png" alt="Picture of Ayn Rand">
              </figure>
            </div>

            <blockquote class="quote-menu">“{{ entry.pageQuoteBlock }}”</blockquote>
            
            <figure class="scroll">
              <a href="#home-tekst"><img src="/assets/img/arrow_down.svg" alt="Scroll arrow down"></a>
            </figure>
        </div>

              <div id="home-tekst" class="page-tekst">

                    <p>{{ entry.bodyText|markdown }}</p>

              <div class="figure-box">
                <div class="figure-box-start">
                  <figure>
                        {% set query = entry.image
                            .id('')
                            .all() %}

                            {% set blocks = entry.image.all() %}

                            {% for block in blocks %}

                    <a href="{{ block.linkImageTopLeft }}"><img src="{{ block.imagetl.one.getUrl }}" alt="{{ block.altImageTopLeft }}">
                    <figcaption class="overlay-model">{{ block.titleImageTl }} <br> {{ block.subtitleImgTl }}</figcaption></a>

                    {% endfor %}
                  </figure>
                  <figure>
                    <a href=""><img src="../Jan/assets/Images/waves.jpg" alt="Golven">
                      <figcaption class="overlay-model">Man <br> The essence of man's functioning</figcaption></a>
                  </figure>
                </div>
                <div class="figure-box-end">
                  <figure>
                    <a href=""><img src="../Jan/assets/Images/waves.jpg" alt="Golven">
                      <figcaption class="overlay-model">Man <br> The essence of man's functioning</figcaption></a>
                  </figure>
                  <figure>
                    <a href=""><img src="../Jan/assets/Images/waves.jpg" alt="Golven">
                      <figcaption class="overlay-model">Man <br> The essence of man's functioning</figcaption></a>
                  </figure>
                </div>
              </div>

              </div>
    </main>
     <!-- video -->
   <div id="myNav" class="overlay">
    <div onclick="closeNav(), enableScroll()" class="overlay-content">
      <div class="video-wrapper">
        <iframe width="1280" height="720px" allow="autoplay" src="https://youtu.be/sDj72zqZakE"></iframe>
      </div>
    </div>
  <!--  -->
    </div>

    {% endblock %}